<h1>Editing Full Stack Developer</h1>

<%= render 'form', full_stack_developer: @full_stack_developer %>

<%= link_to 'Show', @full_stack_developer %> |
<%= link_to 'Back', full_stack_developers_path %>
