<a href="/students">
  Back to All Students
</a>
|
<a href="/students/new">
  Create a Student
</a>
|
<a href="/horses/new">
  Create a Horse
</a>


<h1>Hello, this is all the students</h1>

<form method="get" action="/students">
  <label for="name_input">Name:</label>
  <input type="text" name="query" id="name_input" >
  <input type="submit" value="Search!">
</form>

<ul>
  <% @students.each do |studentObject| %>
    <li>
      <a href="/students/<%= studentObject.id %>">
        <%= studentObject.name_and_age %>
      </a>
    </li>
  <% end %>
</ul>
