<h1>This is the new view.</h1>


<form method="POST" action="/students">

  <label for="s_name">Name</label>
  <input type="text" name="student[name]" id="s_name">

  <label for="s_age">Age</label>
  <input type="number" id="s_age" name="student[age]" >

  <label for="s_hometown">Home Town</label>
  <input type="text" name="student[hometown]" id="s_hometown">

  <input type="submit" name="submit" value="Make a Student">
</form>
