<h1>Show</h1>

<%= link_to "All the Unicorns in the Kingdom", unicorns_path %>

<p>
  Name: <%= @unicorn.name %>
</p>

<p>
  Horn Size: <%= @unicorn.horn %>
</p>

<p>
  Shoe Size: <%= @unicorn.shoe %>
</p>
