<h1>New Horse</h1>

<form action="/horses" method="POST">

  <label for="name">Name</label>
  <input type="text" name="horse[name]" id="name">

  <label for="breed">Breed</label>
  <input type="text" id="breed" name="horse[breed]" >

  <label for="student_id">Student</label>

  <select name="horse[student_id]">

    <% @students.each do |student| %>
      <option value="<%= student.id %>">
        <%= student.name %>
      </option>
    <% end %>

  </select>

  <input type="submit" value="Create a Horse ðŸŽ">

</form>
